
<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto、Jacob Thornton 以及众多 Bootstrap 贡献者">
    <meta name="generator" content="Hugo 0.82.0">
    <title>选课系统</title>

    <link rel="canonical" href="https://v4.bootcss.com/docs/examples/dashboard/">

    

    <!-- Bootstrap core CSS -->
<link href="/index.css" rel="stylesheet" integrity="sha384-olOxEXxDwd20BlATUibkEnjPN3sVq2YWmYOnsMYutq7X8YcUdD6y/1I+f+ZOq/47" crossorigin="anonymous">



    <!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/4.6/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/4.6/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/4.6/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/4.6/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/4.6/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
<link rel="icon" href="/docs/4.6/assets/img/favicons/favicon.ico">
<meta name="msapplication-config" content="/docs/4.6/assets/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#563d7c">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
  </head>
  <body>
    
    <%- include('../components/header') %>

<div class="container-fluid">
  <div class="row">
   
    <%- include('../components/nav') %>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
     <div style="margin-bottom: 20px">
      <a href="/admin/student">学生清单</a>
      <a href="/admin/students/import">导入学生</a>
     </div>
     <div>
        <p >  请导入excel 表格</p>
        <p>形式必须是每一个年纪一张表, 每列依次是学号、姓名、性别</p>
        <div>
          <form id="fileForm"
                action="/admin/students/import" 
                method="post" 
                enctype="multipart/form-data" 
          >
            <p> <input type="file" name="studenFile"> </p> 
            <p><input type="submit" value="上传" class="btn-success"> </p>
          </form>
           
        </div>
     </div>
    </main>
  </div>
</div>


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

        <script> 
          $("#fileForm").on("submit", function() {
             if(!confirm("请注意 上传表格 会重值数据库")) {
               return false; //  阻止表单的上传
             }
          })
        
        </script>
  </body>

  <script>
    /*
     上传form 需要注意两点：
     1、file 控件必须要有name属性
     2、<form> 标签上面必须有：
     <form action="/upload" enctype="mulipart/form-data"></form>
    */
  </script>
</html>
